*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
.*.un~
*.tmp
# tags
Session.vim
*cache.sql
nytprof
.project
.idea


# Ignore bundler config
/.bundle
# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
# Ignore other unneeded files.
doc/

# my working files
,/

# ruby
.byebug_history

# rspec
/spec/examples.txt

# rails
/vendor/bin
/vendor/bundle
/config/secrets.yml
/.env
/.envrc
/.capistrano

# vagrant
/.vagrant

# node
npm-debug.log*

