PATH=${PWD}/bin:${PWD}/vendor/bin:${PATH}
RUBYOPT=-w

# if [ -f .envrc.local ]; then
#   source_env .envrc.local
# else
#   echo 'Please create .envrc.local'
#   echo '  $ cp .envrc.local.sample .envrc.local'
#   echo '  $ vi .envrc.local'
#   echo '  $ direnv reload'
# fi
